[2016-04-18 20:43] ChrisVilches opened #4 "Precaucion al utilizar bower:install"
(branch frontend)

Para evitar el error de carga de fonts, se modifico el codigo CSS de una dependencia bower manualmente para eliminar las referencias a URLs incorrectas de fonts. Ruby modifica todas las URLs ya que compila muchas cosas, por eso fue imposible hacer que el CSS referenciara la URL correcta.

En la aplicacion original, en `app/assets/stylesheets/application.css.scsss` aparece la sig

[2016-04-18 21:44] ChrisVilches commented on #4
(Esto es si ocupamos el framework de Metro, pero tambien se pueden crear estilos de Metro usando bootstrap)

[2016-04-19 04:23] #4 closed, assigned to nobody

[2016-04-21 20:41] ChrisVilches opened #5 "Modificaron el schema.rb pero no las migraciones"
Este commit https://github.com/Angerback/webforge/commit/e0479df2fe85bcbcf06305489585afa2c86e36ca
Muestra que se modifico el archivo schema.rb, pero no las migraciones. Este cambio debe hacerse en las migraciones (no es buena practica modificar schema.rb manualmente)

[2016-04-23 20:37] pliskin12 commented on #5
Hola, gracias por comentarlo. Nuestro equipo se encuentra trabajando en ello.

[2016-04-26 02:42] ghost commented on #5
deshice los cambios y agrege la migración respectiva a la rama Backend_con_frontend_experimental

[2016-05-02 15:01] ghost opened #15 "Problemas con chat"
Ingresando con un rol de profesor o ayudante, al hacer click en conversaciones, arroja un error. Solo se puede acceder a mirar conversaciones individuales poniendo por ejemplo https://blooming-coast-9431.herokuapp.com/chats/1 y así sucesivamente. Saludos

[2016-05-21 04:05] andresamengual opened #16 "Diccionario de datos"
¿Tienen diccionario de datos?, es que no entendemos algunos atributos de las tablas del modelo de datos.
En caso de no tener diccionario de datos ¿Cual es la función del atributo grade de la tabla test ?¿Cual es la función del atributo number de la tabla composition?
Saludos.

[2016-05-21 20:37] PabloSalinasM commented on #16
ok vista tu solicitud- no tenemos diccionario de datos tus consultas se resolvera en la brevedad

[2016-05-21 21:19] PabloSalinasM commented on #16
tests: Los alumnos podrán realizar múltiples pruebas, estas se basan en evaluaciones y son calificadas automáticamente, la calificación es almacenada en el atributo grade.

compositions: Dado que una evaluación se define como un conjunto de preguntas, la relación entre ambas entidades origina a compositions que como único atributo posee el número que representa el orden de la pregunta en el contex

[2016-05-21 21:21] ChrisVilches opened #17 "CRUD de cursos"
Necesitamos GET/POST/PUT/DELETE de 'courses'.

El GET se divide en:

GET courses - listar todos
GET courses/:id - listar un curso, dada su id

[2016-05-21 21:22] ChrisVilches opened #18 "CRUD de usuarios"
Se requiere CRUD de usuarios (get/post/put/delete). Y al igual que en cursos, el GET se divide en listar todos, y en listar uno solo, dada su ID (ejemplo: /users/4).

Edit: Si pueden, utilicen el mismo metodo de paginacion que ya tienen (el que permite URLs como /users?page=2)

[2016-05-21 21:24] ChrisVilches opened #19 "CRUD de la relacion usuarios-cursos"
Necesitamos URLs que permitan:

Obtener todos los alumnos que estan en un curso (ejemplo: GET courses/17/users)
Agregar alumno a un curso (ejemplo: POST courses/17/users/8)
Eliminar alumno de un curso (ejemplo: DELETE courses/17/users/8)

(PUT no es necesario)

[2016-05-21 21:25] ChrisVilches opened #20 "CRUD evaluations"
Se requiere CRUD de evaluaciones

[2016-05-21 21:28] #16 closed, assigned to nobody

[2016-05-21 21:29] ChrisVilches opened #21 "CRUD messages y chats"
CRUD de messages y chats

Listar chats `GET /chats`
Mostrar chat `GET /chats/:id` (debe mostrar el listado de mensajes)

Con eso ya se tiene una lista de chats en donde al mostrar cada uno, se muestra la lista de mensajes. Ahora necesitamos agregar mensaje.

Agregar mensaje a un chat `POST /chats/:id` (con JSON) - URL propuesta, pero pueden cambiarla si lo estiman conveniente.

(DELETE y PUT no lo

[2016-05-21 21:32] PabloSalinasM commented on #17
ok leida. Lo resolveremos lo antes posible.

[2016-05-21 21:32] ChrisVilches opened #22 "Ver las calificaciones de un alumno"
Dada la ID de un alumno, se requiere poder ver sus calificaciones.

[2016-05-21 21:33] PabloSalinasM commented on #18
ok leida. Lo resolveremos lo antes posible. Recuerda si marcan todas con urgente se le dara la misma prioridad a todas esas. Saludos

[2016-05-21 21:34] PabloSalinasM commented on #19
Leida.

[2016-05-21 21:34] PabloSalinasM commented on #20
ok veremos las otras peticiones antes.

[2016-05-21 21:42] #5 closed, assigned to nobody

[2016-05-21 21:47] yeremix commented on #18
El get de usuarios ya esta implementado tanto para todos como para 1 usuario.
El post de usuarios ya esta implementado desde esta mañana.
El put se espera tenerlo listo lo antes posible, trabajaremos en ello.
El delete, creo que se había acordado que no eliminaríamos usuarios sino solo los deshabilitariamos :3

[2016-05-21 22:06] PabloSalinasM commented on #22
ok leido

[2016-05-21 22:07] PabloSalinasM commented on #21
ok una vez terminen con las otras se te solicitara tal vez mayor información

[2016-05-21 22:43] pliskin12 commented on #17
Hecho commit en rama angular_staging con la api solicitada. En Create enviar objeto {"course":{ parametros }}. En put lo mismo, metan los parametros que quieren actualizar.

GET /api/v2/courses
GET /api/v2/courses/:id
POST /api/v2/courses/                     (con objeto json)
PUT /api/v2/courses/:id                     (con objeto json, no acepta cambio de id)
DELETE /api/v2/courses/:id

[2016-05-21 22:45] pliskin12 commented on #18
Están hechos todos menos delete y put. Estamos trabajando en ellos.

Lo que hay:

GET /api/v2/users
GET /api/v2/users/:id
POST /api/v2/users/ (con objeto json{"user": {parametros}})

para paginar concatenar ?page=NUMEROPAGINA a la url ;)

Está en la rama angular_staging

[2016-05-21 22:59] pliskin12 commented on #18
Hecho PUT y DELETE

PUT /api/v2/users/:id (con objeto json, no acepta cambio de id)
DELETE /api/v2/users/:id

[2016-05-21 22:59] ChrisVilches opened #23 "Deploy de la API"
Hola, para que nuestro grupo (front end) pueda trabajar en el proyecto, necesitaremos que hagan deploy de la API a heroku.

Ayer hice un deploy a heroku de mi proyecto (el de Node) y funciona hacer peticiones a webforge.herokuapp.com, y tambien funciona haciendolas desde mi localhost, por eso seria muy conveniente que la API este arriba para que nosotros no tengamos que estar descargando la rama y

[2016-05-21 23:00] pliskin12 commented on #23
Es viable. Sin embargo, no podemos limpiar todo, estamos implementando funcionalidades y eso toma tiempo. Lo dejaremos arriba, pero seguirán apareciendo las páginas antiguas hasta nuevo aviso.

[2016-05-21 23:01] pliskin12 commented on #23
Cuando prueben localmente las funcionalidades que les entreguemos y cierren las peticiones, haremos merge de estas a la rama staging para que así quede en heroku 24/7

[2016-05-21 23:02] ChrisVilches commented on #23
Ah ya okay, entonces primero probare localmente si funcionan, y luego aviso para que las suban, no hay problema :)

[2016-05-21 23:11] ChrisVilches commented on #17
Listo, lo probe y funciona `perfecto` ;)

[2016-05-21 23:43] ChrisVilches commented on #17
Lo reabro porque parece que falto algo. En la version anterior obteniamos la cantidad de usuarios de cada curso haciendo @course.users.size desde la vista.

Aca que alternativa habria? Porque necesitamos obtener la lista de cursos, cada uno con su cantidad de usuarios. La idea seria hacer un join para que el JSON resultante tenga ese atributo.

Logre modificando el jsonbuilder de api/v2 colocando

[2016-05-21 23:49] pliskin12 commented on #17
Me parece que esto entra en la otra petición que abriste, la cual estoy trabajando. Si usas /courses/id/users deberian aparecer los usuarios no? ahi podrias sacar el numero de usuarios. De hecho eso ya lo tengo, pero tengo un problema de que al agregar un usuario se pueden agregar usuarios indefinidamente a un curso, necesito validar eso. Si pueden vivir con eso (correr el riesgo de tener usuarios

[2016-05-21 23:51] pliskin12 commented on #17
La sintaxis de la URL es tal como pediste en la otra petición

[2016-05-21 23:51] ChrisVilches commented on #17
Mira seba, este es el archivo `courses/index.json.jsonbuilder`, agregue la linea `json.users course.users.size`, lo cual me entrega exactamente lo que quiero.

[code]

Resultado de hacer GET de courses

[code]

[2016-05-21 23:51] pliskin12 commented on #19
Listo:
Obtener todos los alumnos que estan en un curso (ejemplo: GET courses/17/users)
Agregar alumno a un curso (ejemplo: POST courses/17/users/8)

Falta quitar un alumno

[2016-05-21 23:52] ChrisVilches commented on #17
Lo que pasa es que quiero obtener el numero de usuarios altiro, y luego obtener los usuarios de forma detallada al hacer courses/id/users, por eso queria de esa forma

[2016-05-22 01:27] PabloSalinasM commented on #20
Felipe necesitamos que se clarifique más esta petición. Queremos saber qué es  lo que quieren con las evaluaciones en sí, porque nosotros no vemos la funcionalidad de un crud en las  evaluaciones. Si nos envían alguna foto o maqueta con lo que buscas para que sea más fácil el entendimiento de esta.

[2016-05-22 02:20] ChrisVilches commented on #17
@Angerback pudiste hacer lo de agregar la linea `json.users course.users.size` en el archivo que dije? para hacer que el JSON de un curso incluya cuantos usuarios tiene (solo el numero). Solo faltaria eso para poder cerrar este issue.

[2016-05-22 02:50] pliskin12 commented on #17
Lo agregué al index y al show, y aparece como tu lo pedías, haré el commit ahora :)

[2016-05-22 02:52] ChrisVilches commented on #17
Aunque en el show, ahi si vamos a hacer eso de obtener los Jsons de todos los alumnos, asi que ahi no seria necesario colocar el numero de alumnos, seria una consulta desperdiciada para ese caso de uso. Pero igual no influye mucho

[2016-05-22 03:08] ChrisVilches commented on #17
Ok estan todas probadas, funciona bien todo

GET /api/v2/courses (incluyendo atributo de cuenta de alumnos inscritos)
GET /api/v2/courses/:id
POST /api/v2/courses/ (con objeto json)
PUT /api/v2/courses/:id (con objeto json, no acepta cambio de id)
DELETE /api/v2/courses/:id

[2016-05-22 03:08] #17 closed, assigned to pliskin12

[2016-05-22 03:26] ChrisVilches commented on #20
@PabloSalinasM tienes razon. Agregaremos mas informacion/detalles cuando nosotros tambien lo tengamos mas claro.

[2016-05-22 15:20] yeremix commented on #22
Issue lista!, Indicaciones:
Link del commit: https://github.com/Angerback/webforge/commit/bafc2f56b9e1fc7522c005fb92a416dfc08710d5

Forma de acceso para los datos y forma requerida:
`/api/v2/users/:id/grades`

donde `:id` es el id del usuario para consultar sus calificaciones.

[2016-05-22 15:32] yeremix commented on #20
Get todos y get solo 1 elemento, Indicaciones:
Link del commit: https://github.com/Angerback/webforge/commit/b6b4d0583d10d136f69d7e020287e9c4f35605dd

Forma de acceso para los datos:
GET `/api/v2/evaluations`
GET(solo 1 elemento) `/api/v2/evaluations/:id`

donde :id es el id de la evaluación, es lo que con respecto a la petición se pudo implementar, saludos!

[2016-05-23 16:25] FVergaraP opened #24 "Poblacion ejemplo chat y message"
### Descripción

Necesito un ejemplo para poder poblar la api tanto chat y message.

[2016-05-23 17:35] fbnr commented on #21
Para esta issue es necesario el editar y el delete? (no lo veo como necesario)

[2016-05-23 20:37] ChrisVilches commented on #18
@Angerback Falta una cosa en el GET de `users/:id`

**Edit:** no es necesario hacer esto, no lo lean. Me di cuenta que se puede hacer con el CRUD de calificaciones. Pero no borrare el mensaje por ahora en caso que me de cuenta que hay un problema.

Si te fijas en el controlador `users_controller.rb`, pasa como variables globales (con `@`) mas datos, los cuales se obtienen a traves de las relacione

[2016-05-23 21:23] FeloVilches commented on #18
O podria ser solo las notas, y el ```@evaluation = Evaluation.find(1)``` lo sacamos desde el CRUD de evaluaciones.

[2016-05-23 22:10] ChrisVilches opened #25 "Error al hacer GET users/:id"
Al entrar en esta URL `http://localhost:3000/api/v2/users/2` me arroja el resultado correcto, pero al entrar a `http://localhost:3000/api/v2/users/1`, me arroja este error

[code]

[2016-05-23 22:16] ChrisVilches commented on #20
Con esto nos basta para nuestra HU, gracias.

[2016-05-23 22:16] #20 closed, assigned to yeremix

[2016-05-23 22:16] ChrisVilches commented on #21
@fbnr tampoco creo que sea necesario, solo es necesario agregar mensajes y poder obtenerlos

[2016-05-23 22:52] ChrisVilches commented on #19
Para las HU que tenemos basta con estas operaciones

[2016-05-23 22:52] #19 closed, assigned to pliskin12

[2016-05-23 23:13] ChrisVilches commented on #25
El error esta en esta linea en el archivo show.json.jbuilder de users

[code]

Debe eliminarse el `:grade`

Edit: solo la primera linea sirve, las dos restantes no, asi que se pueden borrar las dos

[2016-05-24 00:15] ChrisVilches commented on #22
Con esa funcionalidad basta, muchas gracias :)

[2016-05-24 00:15] #22 closed, assigned to yeremix

[2016-05-24 00:52] ghost commented on #25
removido de show.json.jbuilder

json.set! :name_test, @evaluation.name
json.extract!  @lastTest, :grade

ahora funciona

[2016-05-24 01:01] ChrisVilches commented on #25
Si, funciona como esperado :+1:

[2016-05-24 01:01] #25 closed, assigned to nobody

[2016-05-24 01:02] ChrisVilches commented on #18
Ya se soluciono el problema anterior (el de las calificaciones), junto con otro bug que habia. Esta todo perfecto :+1:

[2016-05-24 01:02] #18 closed, assigned to pliskin12

[2016-05-24 05:10] ChrisVilches commented on #21
@fbnr Aca les dejo informacion sobre como debe ser el JSON de `GET chats/` (listar todos)

Aca hay un ejemplo que contiene dos chats. Son los mismos atributos que retorna en la aplicacion original.
- **id**: id del chat
- **title**: titulo del chat
- **user**: Autor del chat (necesito solo el nombre, aunque pueden colocar el JSON completo, o como quieran)
- **ultimoMensaje**: Ultimo mensaje agrega

[2016-05-24 05:43] ChrisVilches commented on #21
Aca hay un ejemplo de show de chat. Al igual que el anterior, el codigo de Ruby es el mismo que el del controlador original, solo tienen que pasarlo a JSON.
- **id**: id
- **title**: titulo del chat
- **user**: creador del chat (puede tener el json completo, pero solo necesito el nombre)
- **messages**: arreglo de mensajes, en donde cada mensaje tiene:
  - **id**: id del mensaje
  - **autor**: str

[2016-05-24 06:27] ChrisVilches commented on #21
Agregar mensaje, debiera (en lo posible) retornar el JSON del mismo mensaje agregado (si no se puede no importa).

[2016-05-24 21:47] fbnr commented on #21
Esta lista la petición, cualquier cosa avisen:

GET /api/v2/chats
GET  /api/v2/chats/:id
POST /api/v2/chats/:id/messages

Aquí te dejo el link del commit, en la rama angular_staging
https://github.com/Angerback/webforge/commit/b3b569c568d28109cab78d75cd0afd6382627d89

[2016-05-24 21:50] fbnr commented on #24
Se pobló chat y message, están contenidos en la rama angular_staging, en el siguiente commit:
https://github.com/Angerback/webforge/commit/b3b569c568d28109cab78d75cd0afd6382627d89

cualquier cosa avisar

[2016-05-24 21:52] fbnr commented on #21
Ejemplo de POST:

{
"body": "Este es el contenido del mensaje"
}

[2016-05-24 23:02] ChrisVilches commented on #21
No cumple con lo que se pide.

En el controlador de chats (de la api) se ve esta linea de codigo

[code]

Y en el JSON no se ve por ningun lado que use `@owners`, de hecho arroja como "autor del chat" al autor del ultimo mensaje, lo cual es incorrecto ya que va cambiando dependiendo de quien es el ultimo que responde. (Esto es en index)

[code]

Tampoco es correcto que el POST se haga solo con el

[2016-05-24 23:09] ChrisVilches commented on #21
Para corregirlo pueden usar este codigo para el JSON del chats INDEX:

[code]

El controlador del chat index esta bien como lo tienen.

[2016-05-24 23:15] ChrisVilches commented on #21
Para modificar el POST de escribir mensaje, hay que corregir un error que hay en el controlador de messages. La linea `@owner = User.find...` lo que hace es obtener el usuario que creo el chat. Lo que hay que hacer es obtener la ID del usuario pasado por JSON.

Este es el codigo original:

[code]

La linea `@message = Message.new(chat_id: params[:id], user_id: @owner.id, body: params[:body])` hay

[2016-05-25 00:53] ghost commented on #21
ff0524c se muestra el nombre del autor del chat en lugar de la id

[2016-05-25 01:09] ghost commented on #21
d2b99ba POST

[2016-05-25 02:05] ChrisVilches commented on #21
Ahora si funciona todo bien

[2016-05-25 02:05] #21 closed, assigned to nobody

[2016-05-25 05:41] ChrisVilches commented on #23
Estan todas las funcionalidades listas. Yo creo que podrian hacer deploy del proyecto en Rails (API) para que el proyecto en Express se pueda comunicar con ella en Heroku ambos.

[2016-05-26 00:47] #23 closed, assigned to nobody

[2016-06-17 06:23] nelsonjerezv opened #30 "Solicitud API"
Holaa, les quiero solicitar lo siguiente:
- necesito un método para crear la práctica del estudiante en la tabla excersise usando el id_usuario, id_practica[1 ,2,3 o 4], plunk[la dirección que ingrese el estudiante]). Esto es para que pueda ingresar su plunkr de las 4 prácticas presentes en la aplicación.
- necesito un método para actualizar la dirección plunkr de la práctica del estudiante en la

[2016-06-17 07:05] nelsonjerezv opened #31 "Solicitud API"
Holaa, les quiero solicitar lo siguiente:

son métodos para obtener las tablas(como un array pensaba) de
- tests con sus atributos
- evaluation con atributos
- topics con atributos
- questions con atributos
- alternative con atributos
- composition con atributos

la idea es disponer de la info como se ve en estos json:
https://github.com/FeloVilches/Webforge-Express/tree/grupo1_nelson/public/jsonD

[2016-06-17 11:18] PabloSalinasM commented on #31
Leido. Es necesario que hagan una petición por cada necesidad de su grupo no agruparlas todas en una para asi ser más rápida la soluciones de estas. Luego serán resueltas tus necesidades saludos.

[2016-06-17 11:34] PabloSalinasM commented on #30
Leido. Separar peteciones por favor. Saludos

[2016-06-17 13:12] nelsonjerezv opened #32 "Solicitud API - Create/Read tabla excersise"
Holaa, les quiero solicitar lo siguiente:
- necesito un método para crear la práctica del estudiante en la tabla excersise usando el id_usuario, id_practica[1 ,2,3 o 4], plunk[la dirección que ingrese el estudiante]). Esto es para que pueda ingresar su plunkr de las 4 prácticas presentes en la aplicación.

Gracias!!

favor señalen todas las dudas que se generen ;)

[2016-06-17 13:15] nelsonjerezv opened #33 "Solicitud API - Update tabla excersise"
Holaa, les quiero solicitar lo siguiente:
- necesito un método para actualizar la dirección plunkr de la práctica del estudiante en la tabla excersise(un update al atributo plunkr)

Gracias!!

favor señalen todas las dudas que se generen ;)

[2016-06-17 13:16] nelsonjerezv opened #34 "Solicitud API - CRUD en tablas Bank_accounts/records"
Holaa, les quiero solicitar lo siguiente:
- necesito método para realizar CRUD en bank_accounts y records (lo que pertenece a la terminal bancaria)

Gracias!!

favor señalen todas las dudas que se generen ;)

[2016-06-17 13:17] nelsonjerezv opened #35 "Solicitud API - Read tabla practice"
Holaa, les quiero solicitar lo siguiente:
- necesito un método para obtener la lista de prácticas(practice) del estudiante con sus atributos, pensaba que podía ser un array tipo json:
  [
  { atr1: valor,
  atr2: valor
  },
  { atr1: valor,
  atr2: valor
  }
  ](esto lo escribí a la rápidam no es que les pida este formato)

Gracias!!

favor señalen todas las dudas que se generen ;)

[2016-06-17 13:24] nelsonjerezv opened #36 "Solicitud API - Read tabla tests"
Holaa, les quiero solicitar lo siguiente:

son métodos para obtener las tablas(como un array pensaba) de
- tests con sus atributos

la idea es disponer de la info como se ve en estos json:
https://github.com/FeloVilches/Webforge-Express/tree/grupo1_nelson/public/jsonDataAux (ej questions y alternative)

Gracias!!

favor señalen todas las dudas que se generen ;)

[2016-06-17 13:24] nelsonjerezv opened #37 "Solicitud API - read tabla evaluations"
Holaa, les quiero solicitar lo siguiente:

son métodos para obtener las tablas(como un array pensaba) de
- evaluation con atributos

la idea es disponer de la info como se ve en estos json:
https://github.com/FeloVilches/Webforge-Express/tree/grupo1_nelson/public/jsonDataAux (ej questions y alternative)

Gracias!!

favor señalen todas las dudas que se generen ;)

[2016-06-17 13:25] nelsonjerezv opened #38 "Solicitud API - Read tabla topics"
Holaa, les quiero solicitar lo siguiente:

son métodos para obtener las tablas(como un array pensaba) de
- topics con atributos

la idea es disponer de la info como se ve en estos json:
https://github.com/FeloVilches/Webforge-Express/tree/grupo1_nelson/public/jsonDataAux (ej questions y alternative)

Gracias!!

favor señalen todas las dudas que se generen ;)

[2016-06-17 13:26] nelsonjerezv opened #39 "Solicitud API - Read tabla questions"
Holaa, les quiero solicitar lo siguiente:

son métodos para obtener las tablas(como un array pensaba) de
- questions con atributos

la idea es disponer de la info como se ve en estos json:
https://github.com/FeloVilches/Webforge-Express/tree/grupo1_nelson/public/jsonDataAux (ej questions y alternative)

Gracias!!

favor señalen todas las dudas que se generen ;)

[2016-06-17 13:26] nelsonjerezv opened #40 "Solicitud API - Read tabla alternative"
Holaa, les quiero solicitar lo siguiente:

son métodos para obtener las tablas(como un array pensaba) de
- alternative con atributos

la idea es disponer de la info como se ve en estos json:
https://github.com/FeloVilches/Webforge-Express/tree/grupo1_nelson/public/jsonDataAux (ej questions y alternative)

Gracias!!

favor señalen todas las dudas que se generen ;)

[2016-06-17 13:27] nelsonjerezv opened #41 "Solicitud API - Read tabla composition"
Holaa, les quiero solicitar lo siguiente:

son métodos para obtener las tablas(como un array pensaba) de
- composition con atributos

la idea es disponer de la info como se ve en estos json:
https://github.com/FeloVilches/Webforge-Express/tree/grupo1_nelson/public/jsonDataAux (ej questions y alternative)

Gracias!!

favor señalen todas las dudas que se generen ;)

[2016-06-17 13:29] nelsonjerezv opened #42 "Solicitud API - Create en tabla test"
Holaa, les quiero solicitar lo siguiente:
- necesito un método para crear un nuevo test del estudiante(crear la evaluación cuando se presione "comenzar evaluación")

Gracias!!

favor señalen todas las dudas que se generen ;)

[2016-06-17 13:30] nelsonjerezv opened #43 "Solicitud API - create en tabla answers"
Holaa, les quiero solicitar lo siguiente:
- necesito un método para guardar la respuesta de la pregunta actual en la evaluación actual(se guarda cada vez que presiona siguiente pregunta en la evaluación)

Gracias!!

favor señalen todas las dudas que se generen ;)

[2016-06-17 18:38] PabloSalinasM commented on #43
leido, cambiar titulo

[2016-06-17 18:38] PabloSalinasM commented on #42
leido, cambiar titulo

[2016-06-17 18:39] PabloSalinasM commented on #41
leido, cambiar titulo

[2016-06-17 18:39] PabloSalinasM commented on #40
leido, cambiar titulo

[2016-06-17 18:39] PabloSalinasM commented on #39
leido, cambiar titulo

[2016-06-17 18:40] PabloSalinasM commented on #38
leido, cambiar titulo

[2016-06-17 18:40] PabloSalinasM commented on #37
leido, cambiar titulo

[2016-06-17 18:41] PabloSalinasM commented on #36
leido, cambiar titulo

[2016-06-17 18:41] PabloSalinasM commented on #35
leido, cambiar titulo

[2016-06-17 18:41] PabloSalinasM commented on #34
leido, cambiar titulo

[2016-06-17 18:42] PabloSalinasM commented on #33
leido, cambiar titulo

[2016-06-17 18:43] PabloSalinasM commented on #32
leido, cambiar titulo

[2016-06-17 19:32] ChrisVilches commented on #42
Edita el titulo a todas las peticiones, ponles un titulo descriptivo y que sea fácil de identificar sin tener que leer todo. Gracias

[2016-06-17 21:08] pliskin12 commented on #30
Un estudiante no tiene practicas, tiene exercises. ¿Quizas sea eso lo que quieres?

[2016-06-17 21:11] pliskin12 commented on #30
¿Una lista con el ultimo exercise para cada practice? seria una lista de cuatro objetos si entiendo bien

[2016-06-17 21:17] nelsonjerezv commented on #30
los 4 (objetos) excersise del estudiante, si eso gracias. y cada objeto conteniendo todos los atributos. Me pidieron descomponer estas peticiones, traté de ser un poco más claro en esas (las 4 nuevas que dicen urgente), por si te sirve :)

[2016-06-17 21:29] pliskin12 commented on #30
Ok, me referiré a las otras de ahora en adelante

[2016-06-17 21:29] #30 closed, assigned to pliskin12

[2016-06-17 21:42] #32 closed, assigned to pliskin12

[2016-06-17 21:43] pliskin12 commented on #32
Api lista. En la url: http://servidor/api/v2/exercises hacer petición POST con un json del estilo:
{"user_id":2, "practice_id":4, "plunk":"http://urlfalsa", "embed":"http://fake"}

La respuesta correcta es un json:

{"outcome": "Trabajo registrado exitosamente."}

[2016-06-17 21:48] pliskin12 commented on #33
Api lista. En la url: http://servidor/api/v2/exercises hacer petición PUT con un json del estilo:
{"user_id":2, "practice_id":4, "plunk":"http://urlfalsa2", "embed":"http://fake2"}

La respuesta correcta es un json:
{
"outcome": "Enlace a tu trabajo actualizado, Vista embebida actualizada, "
}

Por defecto edita el ultimo ejercicio para la practica y el usuario especificado en el json. Sin embargo

[2016-06-17 21:48] #33 closed, assigned to pliskin12

[2016-06-17 21:55] #31 closed, assigned to nobody

[2016-06-18 22:39] nelsonjerezv opened #44 "cuentas en webforge"
holaa

una duda, existen usuarios actualmente en la BD de webforge?

lo pregunto pensando en usar uno para hacer las pruebas, cualquiera de las seeds originales del proyecto por ejemplo.

En caso de que no hayan, generaría la peticion de un estudiante de prueba

gracias

[2016-06-19 01:59] nelsonjerezv commented on #44
ignoren esto, ya lo resolví

[2016-06-19 01:59] #44 closed, assigned to nobody

[2016-06-19 05:05] nelsonjerezv commented on #35
disculpa, podrías darme un ejemplo de como sería la petición por favor?

[2016-06-19 22:26] nelsonjerezv opened #45 "Ejemplo Read en tabla practice"
al parecer no he encontrado la forma correcta de hacerlo, si pudieran facilitar un ejemlo sería fantástico :)

[2016-06-19 22:52] pliskin12 commented on #35
Hola, disculpa, me equivoqué al cerrar esta, te lo subo ahora

[2016-06-19 22:55] pliskin12 commented on #35
Si lo que quieres es obtener los resultados de la ultima practica del estudiante, usa esto: GET /api/v2/users/idUsuario/exercises

[2016-06-19 22:58] pliskin12 commented on #35
O lo que necesitas es directamente los cuatro practices que hay en la BD? no para el usuario?

[2016-06-19 23:00] pliskin12 commented on #35
Por ejemplo esto es lo que te estoy mandando ahora:

[{"id":3,"user_id":2,"practice_id":1,"plunk":"asdfasdf123123","embed":"xc1q23","created_at":"2016-06-17T20:53:26.980Z","updated_at":"2016-06-17T21:05:55.051Z"},{"id":7,"user_id":2,"practice_id":2,"plunk":"http://urlfalsa","embed":"http://fake","created_at":"2016-06-17T21:40:18.508Z","updated_at":"2016-06-17T21:40:18.508Z"},{"id":8,"user_id":2,"p

[2016-06-19 23:04] nelsonjerezv commented on #35
es exactamente lo que quería :)

unas dudas:

1) si ese usuario no tiene practicas, devuelve un JSON vacío?
2) si tiene creada un subconjunto, devuelve el subconjunto? (ej [{ ..., "practice_id":1, ...}, {..., "practice_id":3, ...}])

[2016-06-19 23:09] pliskin12 commented on #34
Estás seguro que necesitas el borrar en esas operaciones? Lo otro, un record se crea cuando actualizas un bank_account, esto ya está implementado en la terminal bancaria y api original ya que ya funcionaba con angular.

Te resumo, lo que ya hay es:

Ver una cuenta bancaria para un usuario: GET /api/v1/bank_accounts/:user_id
Editar una cuenta bancaria para un usuario: PUT /api/v1/bank_accounts/:use

[2016-06-19 23:12] nelsonjerezv commented on #34
Toda la razón borrar no es necesario, entonces CRU está listo ya, por lo que no necesitaría nada  nuevo y se podría cerrar esta petición :)

[2016-06-19 23:15] pliskin12 commented on #36
Supongo que esto es en el contexto de un usuario no? Onda, ver los tests para el usuario en especifico. Si es así, ya está implementado. Dime si necesitas si o si TODOS los tests, de todos los usuarios de la plataforma. Felipe creó esos JSONS de esa forma con usuarios mezclados para poder trabajar mientras le haciamos la API, pero como te digo, ya está hecho para obtener todas las notas de UN usua

[2016-06-19 23:16] pliskin12 commented on #37
Ya está implementado... En GET /api/v2/evaluations

[2016-06-19 23:20] Angerback commented on #41
La tabla composition no existe.

[2016-06-19 23:20] Angerback commented on #38
La tabla Topics no existe. Te referieres a Heuristics?

[2016-06-19 23:27] nelsonjerezv commented on #38
no, me refiero a topics, según veo en el modelo de datos, y en las seeds, del proyecto, existe topics, que clasifica a questions

[2016-06-19 23:29] pliskin12 commented on #38
Si, despues me di cuenta Nelson. Pensé que no se usaba porque antes se sacaba de otro controlador.

https://github.com/Angerback/webforge/commit/692637df8ee8bb36be460ce4acd94869fafb9725

Está implementado en ese commit. GET /api/v2/topics

[2016-06-19 23:30] nelsonjerezv commented on #38
Gracias :+1:

[2016-06-19 23:30] pliskin12 commented on #35
Exactamente, te devuelve un json vacío.
No entiendo lo de subconjunto. Te refieres a si tiene varios exercises para cada practice? Si es asi siempre retorna el más reciente, o sea uno por practice, nunca el subconjunto

[2016-06-19 23:31] nelsonjerezv commented on #36
listo entonces, no necesito nada más :+1:

[2016-06-19 23:32] nelsonjerezv commented on #35
me refiero a que si de las 4 prácticas, en vez de haber iniciado todas o ninguna (JSON con los 4 o con ninguno), ha iniciado algunas

[2016-06-19 23:33] pliskin12 commented on #35
Ahh, solo te devuelve las que si inició, o sea que tiene por lo menos un exercise, puede devolver 1, 2, 3 o 4

[2016-06-19 23:34] nelsonjerezv commented on #35
estamos listos con esto entonces :+1:

[2016-06-19 23:34] pliskin12 commented on #35
En todo caso tienes como saber cual es, te dice el id de la practice en el objeto

[2016-06-19 23:34] pliskin12 commented on #35
buena, cierra nomas las que estén listas

[2016-06-19 23:34] #35 closed, assigned to pliskin12

[2016-06-19 23:34] #34 closed, assigned to nobody

[2016-06-19 23:35] #36 closed, assigned to nobody

[2016-06-19 23:35] #37 closed, assigned to nobody

[2016-06-19 23:35] #38 closed, assigned to pliskin12

[2016-06-19 23:37] nelsonjerezv commented on #45
se respondió e issue previa

[2016-06-19 23:37] #45 closed, assigned to nobody

[2016-06-20 00:07] nelsonjerezv opened #46 "Peticion API - Read en tabla practices"
Hola, necesito poder leer las practicas por defecto que vienen en webforge.

Gracias :)

[2016-06-20 00:43] nelsonjerezv commented on #46
no es necesario

[2016-06-20 03:05] nelsonjerezv commented on #46
la avancé por mi cuenta, se las dejo por si les acelera el proceso

class Api::V2::PracticesController < API::V2::ApiController
    def index
        @practices = Practice.all
    end
end

(index.json.jbuilder)
json.array!(@practices) do |practice|
    json.extract! practice, :id, :name, :description, :plunk, :embed
end

(routes.rb)
#Practices
    get 'practices', to: 'practices#index'

[2016-06-20 04:12] nelsonjerezv opened #47 "Errores en diccionario de datos"
pesquen esto solo si saben que alguien más lo está usando.

hay pequeños errores, como por ejemplo, en practices (que es en realidad Practice) el atributo es plunk, no plunker

[2016-06-21 03:22] yeremix opened #48 "Petición API - Método para guardar Token y correo de login"
necesito un método para guardar en memoria el token y el email del usuario logeado y ademas un método para destruir la sesión (libre formato json y url)

[2016-06-21 03:50] pliskin12 commented on #39
Listo, revisa en la ruta api/v2/questions y ve si es el json que necesitabas.

[2016-06-21 03:51] pliskin12 commented on #40
Listo, revisa en la ruta api/v2/alternatives y ve si es el json que necesitabas.

[2016-06-21 03:51] pliskin12 commented on #41
Listo, revisa en la ruta api/v2/compositions y ve si es el json que necesitabas.

[2016-06-21 04:08] pliskin12 commented on #42
Listo, en la ruta api/v2/users/idUsuario/tests con una petición POST se debe enviar un  JSON del tipo:
{"user_id": 2,"evaluation_id":1, "grade":4}
El id del usuario en el objeto es innecesario, ya que ya está en la url, pero puedes enviarlo sin problemas.
La respuesta correcta es:

{
"outcome": "Test registrado exitosamente."
}

La respuesta si te falta la evaluación es:
{
"outcome": "Falta especi

[2016-06-21 04:18] pliskin12 commented on #43
Listo, en la ruta api/v2/tests/idTest/answers con una petición POST se debe enviar un JSON del tipo:
{"question_id":1,"alternative":1}
El id del test en el objeto es innecesario, ya que ya está en la url, pero puedes enviarlo sin problemas.
La respuesta correcta es:

{
"outcome": "Respuesta registrada exitosamente."
}

La respuesta si te falta la pregunta es:
{
"outcome": "Falta especificar pregun

[2016-06-21 04:19] pliskin12 commented on #46
Lo implementamos como sugeriste y funcionó bien

[2016-06-21 04:19] #46 closed, assigned to pliskin12

[2016-06-21 04:19] pliskin12 commented on #47
Hablaré esto con mi scrum master

[2016-06-21 04:19] pliskin12 commented on #48
Leída

[2016-06-21 04:24] PabloSalinasM commented on #47
ok javier redacto super bien entonces XD

[2016-06-21 04:47] pliskin12 commented on #48
Listo, para iniciarl sesión usa la ruta api/v2/users/start_session con una petición POST y envía un objeto JSON del tipo: {"email": "alexis.casanueva@usach.cl","token":"tokencito"}
Si todo sale bien, te dirá:
{
          outcome: "Login exitoso."
       }

Si ya está logueado:
{
        outcome: "Ya está logueado."
     }
Si el usuario derechamente no existe (porque una cosa es que exista en googl

[2016-06-21 04:49] pliskin12 commented on #48
Para cerrar la sesión, usa la ruta api/v2/users/end_session con una petición POST y envía un objeto JSON del tipo: {"token":"tokencito"}

Si el usuario estaba logueado, te dirá:
{
        outcome: "Sesión cerrada."
     }

Si no:
{
        outcome: "Sesión no existe."
     }

[2016-06-21 18:51] nelsonjerezv opened #49 "Poblado BD webforge"
Una duda, lo presente en la app es únicamente lo que se encuentra en seeds.rb?

acá está seeds.rb :

https://github.com/Angerback/webforge/blob/staging/db/seeds.rb

[2016-06-22 01:15] ChrisVilches opened #50 "Servicio para obtener las heuristicas"
Necesito servicios para mostrar las heuristicas, junto a todas las cosas necesarias para poder mostrarls (Do's, Don'ts, examples, etc)

El codigo deberia ser similar al del controlador original:
https://github.com/Angerback/webforge/blob/staging/app/controllers/heuristics_controller.rb

Y si es posible en el show, que cada heuristica venga con la ID y nombre de la siguiente y anterior.

(De no ser

[2016-06-22 03:09] pliskin12 commented on #50
Leido

[2016-06-22 03:19] pliskin12 commented on #50
Entonces el index lo quieres general, y el show detallado con los dos, donts, heuristica anterior y siguiente?

[2016-06-22 03:32] pliskin12 commented on #50
Implementé lo que entendí a la primera, que es básicamente lo que ya estaba hecho por Javier. Si necesitas algo extra dime nomás, si no cierra la petición.

Para obtener todas las heuristicas usar GET /api/v2/heuristics
Para obtener una y todos los datos que solicitaste, GET /api/v2/heuristics/IdDeLaHeuristica

[2016-06-22 03:33] pliskin12 commented on #39
Por favor revisa lo implementado y cierra la petición si se satisface tu requerimiento.

[2016-06-22 03:34] pliskin12 commented on #40
Por favor revisa lo implementado y cierra la petición si se satisface tu requerimiento.

[2016-06-22 03:34] pliskin12 commented on #41
Por favor revisa lo implementado y cierra la petición si se satisface tu requerimiento.

[2016-06-22 03:34] pliskin12 commented on #42
Por favor revisa lo implementado y cierra la petición si se satisface tu requerimiento.

[2016-06-22 03:34] pliskin12 commented on #43
Por favor revisa lo implementado y cierra la petición si se satisface tu requerimiento.

[2016-06-22 03:35] pliskin12 commented on #49
Si, eso es todo lo que hay por defecto. Si hay algo más es solo porque se ha agregado durante las demo review o que los integrantes estén probando algo. En general, se resetea todo para la demo, por lo que si necesitan un nuevo fixture de datos para siemrpe deben solicitarlo por acá, pero deben proveernos los datos. Nuestra tarea es agregarlos en el lenguaje de Ruby.

[2016-06-22 05:53] ChrisVilches commented on #50
Sirvio perfectamente y pude hacer la HU requerida sin problemas, gracias :smirk:

La cerrare.

[2016-06-22 05:53] #50 closed, assigned to pliskin12

[2016-06-22 06:49] nelsonjerezv commented on #40
Estoy complicado con varios ramos de momento, el jueves reviso las peticiones abiertas :)

[2016-06-22 06:50] nelsonjerezv commented on #49
Gracias

[2016-06-22 06:50] #49 closed, assigned to nobody

[2016-06-23 03:37] nelsonjerezv commented on #39
perfecto, gracias :+1:

[2016-06-23 03:37] #39 closed, assigned to pliskin12

[2016-06-23 03:41] yeremix commented on #48
ok

[2016-06-23 03:41] #48 closed, assigned to nobody

[2016-06-23 04:00] nelsonjerezv commented on #40
perfecto, gracias :+1:

[2016-06-23 04:00] #40 closed, assigned to nobody

[2016-06-23 04:08] nelsonjerezv commented on #41
perfecto, gracias :+1:

[2016-06-23 04:08] #41 closed, assigned to pliskin12

[2016-06-23 05:32] nelsonjerezv opened #51 "Solicitud API - Reemplazar código por proporcionado"
Hola, dado que se suministran por medio de la API la información por separado de cada tabla referente al módulo de evaluaciones, en el archivo

https://github.com/Angerback/webforge/blob/staging/app/views/api/v2/evaluations/index.json.jbuilder

solicito quitar ":questions", y reemplazarlo por ":image", cosa quede así:

json.extract! evaluation, :id, :name, :description, :image, :created_at, :updat

[2016-06-23 21:39] nelsonjerezv commented on #42
me puedes confirmar que existe? no lo encuentro en esa ruta(staging)

[2016-06-23 22:00] nelsonjerezv commented on #43
me puedes confirmar que existe? no lo encuentro en esa ruta(staging)

[2016-06-24 02:25] PabloSalinasM commented on #51
leida

[2016-06-24 02:27] #24 closed, assigned to nobody

[2016-06-24 02:30] pliskin12 commented on #43
Puedes hacerlo local o en el servidor staging:
![prueba1](https://cloud.githubusercontent.com/assets/11650986/16326110/6adff982-399a-11e6-8d29-6d145f0e4033.png)

[2016-06-24 02:39] pliskin12 commented on #42
Funcionando sin problemas.
![prueba2](https://cloud.githubusercontent.com/assets/11650986/16326292/ac88d2a4-399b-11e6-8791-7a8fdd5716f0.png)

[2016-06-24 05:04] nelsonjerezv commented on #42
Error de typeo mío, gracias :+1:

[2016-06-24 05:04] #42 closed, assigned to pliskin12

[2016-06-24 06:32] nelsonjerezv commented on #43
error mío, gracias :+1:

[2016-06-24 06:32] #43 closed, assigned to nobody

[2016-06-25 15:31] #15 closed, assigned to nobody

[2016-06-25 15:59] PabloSalinasM commented on #47
actualizado el diccionario es más conceptual se cambiaron las imagenes para que no exista ambiguedad.Saludos

https://docs.google.com/document/d/1dOBTEhngA5YH_EyZXWeQnTZ2uxzacv6dF-lWnxw2HrA/edit#

[2016-06-25 15:59] #47 closed, assigned to nobody

[2016-06-27 12:11] nelsonjerezv opened #53 "Solicitud API - agregar código proporcionado"
Hola, solicito se agregue lo siguiente:
- en **webforge/app/controllers/api/v2/answers_controller.rb**

[code]

[2016-06-27 12:15] nelsonjerezv opened #54 "Solicitud API - agregar código proporcionado"
Hola, solicito se agregue lo siguiente:

webforge/app/controllers/api/v2/tests_controller.rb

[code]

[2016-06-27 12:19] nelsonjerezv opened #55 "Solicitud API - agregar código proporcionado"
Hola, solicito se agregue lo siguiente:

 -en webforge/config/routes.rb (alrededor de línea 130)

[code]

[2016-06-27 12:23] nelsonjerezv opened #56 "Solicitud API - agregar código proporcionado"
Hola, solicito se agregue lo siguiente:
- que en la ruta  **webforge/app/views/api/v2/answers/** se agregue un archivo de nombre **showTest.json.jbuilder**

[code]

[2016-06-27 12:28] nelsonjerezv opened #57 "Solicitud API - agregar código proporcionado"
Hola, solicito se agregue lo siguiente:
- En la ruta **webforge/app/views/api/v2/evaluations/** el archivo **index.json.jbuilder** tenga el siguiente contenido

[code]
- En la ruta **webforge/app/views/api/v2/evaluations/** el archivo **show.json.jbuilder** tenga el siguiente contenido

[code]

[2016-06-27 14:31] PabloSalinasM commented on #56
Leído

[2016-06-27 14:33] PabloSalinasM commented on #57
Leído

[2016-06-27 14:35] PabloSalinasM commented on #55
Leído

[2016-06-27 14:37] PabloSalinasM commented on #54
Leído

[2016-06-27 14:38] PabloSalinasM commented on #53
Leído

[2016-06-27 19:54] pliskin12 commented on #51
Listo, probar

[2016-06-28 02:35] ChrisVilches opened #58 "Bug en /api/v1/bank_accounts/{id}"
No se si sera un bug pero, esa URL no funciona en la rama webforge-staging.

En la version original de webforge, al entrar a `http://blooming-coast-9431.herokuapp.com/api/v1/bank_accounts/4?format=json`

Arroja este resultado:

[code]

En cambio con la rama que tengo yo (webforge-staging) me arroja un error de Ruby on Rails. Saben como arreglarlo? o es un bug que hay que arreglar?

[2016-06-28 04:54] Arapuntocom opened #59 "Calificaciones del curso de cierto alumno, para cierta evaluación."
hola! para un determinado id de Usuario, e id de Evaluación, necesitamos un get que nos retorne el conjunto de calificaciones (solo las notas) que han obtenido los compañeros de Curso del usuario, en la evaluación.

[2016-06-28 07:34] nelsonjerezv commented on #51
perfecto, gracias :+1:

[2016-06-28 07:34] #51 closed, assigned to pliskin12

[2016-06-28 07:35] nelsonjerezv commented on #57
perfecto, gracias :+1:

[2016-06-28 07:35] #57 closed, assigned to pliskin12

[2016-06-28 07:35] nelsonjerezv commented on #56
perfecto, gracias :+1:

[2016-06-28 07:35] #56 closed, assigned to pliskin12

[2016-06-28 07:35] nelsonjerezv commented on #55
perfecto, gracias :+1:

[2016-06-28 07:35] #55 closed, assigned to pliskin12

[2016-06-28 07:36] nelsonjerezv commented on #54
perfecto, gracias :+1:

[2016-06-28 07:36] #54 closed, assigned to pliskin12

[2016-06-28 07:38] nelsonjerezv commented on #53
un pequeño detalle, falta un `end`(error mío) al final de la función update, fuera de eso funciona perfecto. cierren nomás esta petición cuando lo agreguen

[2016-06-28 17:21] PabloSalinasM commented on #59
leído

[2016-06-29 01:30] pliskin12 commented on #58
leido

[2016-06-29 01:33] pliskin12 commented on #53
Corregido @nelsonjerezv , revisa nomas

[2016-06-29 01:54] fbnr opened #60 "Metodo para aumentar en uno el contador"
Para un usuario, se debe aumentar el numero de veces de logins que ha efectuado un usuario, gracias.

[2016-06-29 02:17] #60 closed, assigned to nobody

[2016-06-29 04:16] #53 closed, assigned to pliskin12

[2016-06-29 18:33] ChrisVilches commented on #58
Companeros esta peticion es necesaria para gran parte de nuestras HU, por lo que solicito que se haga lo mas pronto posible, muchas gracias :smile:

[2016-06-30 03:49] nelsonjerezv opened #61 "Solicitud API - Adición en método usersController - start_session"
Buenas, solicitamos urgentemente se agregue los cambios en este método(inicio sesión exitoso), o si les es más cómodo sobreescribir.

Gracias

[code]

[2016-06-30 04:05] #61 closed, assigned to nobody

[2016-06-30 16:27] FVergaraP opened #62 "No cargan Usuarios"
Al momento de ingresar a:

http://webforge-express.herokuapp.com/#!/users

y al seleccionar un usuario de un curso, por ejemplo:

http://webforge-express.herokuapp.com/#!/courses/1

No aparece

[2016-06-30 16:40] ghost commented on #62
Y entrando a esta URL:

http://webforge-staging.herokuapp.com/api/v2/users

Entrega este mensaje

[code]

Deberia mostrar la lista de usuarios

[2016-06-30 16:56] pliskin12 commented on #62
Solucionado, era un problema de heroku. Ahora funciona.

[2016-06-30 16:56] #62 closed, assigned to nobody

[2016-07-02 01:58] pliskin12 commented on #58
Lo estoy viendo ahora mismo

[2016-07-02 02:05] pliskin12 commented on #58
Felipe, no es un bug. Lo que pasa es que no hay ninguna cuenta bancaria creada. Acabo de crear una con la url:
http://webforge-staging.herokuapp.com/api/v1/bank_accounts/   metodo POST
y el objeto: {"balance": 10, "status": "Activa", "user_id": 1}
eso crearía una cuenta bancaria para ismael vicencio.

Ahora, si entras a la url que me mencionas:
http://webforge-staging.herokuapp.com/api/v1/bank_acc

[2016-07-02 02:05] pliskin12 commented on #58
Ah lo otro, "?format=json" es innecesario ya que la api por defecto pasa todo con json

[2016-07-02 22:54] Arapuntocom commented on #59
:'(
qué tengo que hacer para ser atendida? (no creo que quiera que empiece a quitarme la ropa ps..)

[2016-07-02 22:56] nelsonjerezv commented on #59
no puedo decidir si apoyarte o ponerme en tu contra xd

[2016-07-02 22:58] PabloSalinasM commented on #59
Dependerá del seba xD

[2016-07-03 00:43] pliskin12 commented on #59
Ahora me pongo a trabajar en esta. Necesitas las calificaciones de los puros compañeros? No del usuario?

[2016-07-03 00:44] pliskin12 commented on #59
El tema es que ya hay cursos definidos en la plataforma. Necesitas los compañeros literalmente de curso, es decir, aquellos que están agregados a un mismo curso, o los que rindieron la misma evaluación, independiente del curso en el que estén?

[2016-07-03 00:50] nelsonjerezv commented on #59
seba lo veo de dos formas válidas:
- 1) para todos los en curso == al estudiante que hace la petición, agarrar la ÚLTIMA nota mayor a 0.9(valor que usamos por defecto para una evaluación aún no calificada) para esa evaluación y devolver el promedio.
- 2) para todos los en curso == al estudiante que hace la petición, agarrar TODAS las notas mayores a 0.9(valor que usamos por defecto para una evalua

[2016-07-03 00:56] pliskin12 commented on #59
Oka ahora me quedó más claro. Voy a ver si entendí con un ejemplo:
Tengo este curso:
Curso 1 :
- Juanito: Evaluación 1: 3.4
- Jorgito: Evaluación 1: 4.4
- Jaimito: Evaluación 1: 5.0

Curso 2 :
- Jorgito: Evaluación1: 4.4
- Andreita: Evaluación 1: 5.0

Si hiciera la petición para Juanito, con la evaluación 1, solo debería devolverme las notas de Jorgito y Jaimito, pero no la de Andreita, ya que no

[2016-07-03 01:01] nelsonjerezv commented on #59
exacto, es restringido al curso del solicitante y a la evaluación solicitada. Adicionalmente, pensando en una peticion futura, para el caso 1 de los que te propuse, nos serviría tener dos numeros, cuantos en la última evaluación tienen nota menor a la última nota del solicitante y cuantos hay en el curso, onda tener una respuesta:

(promedioCurso,
cantidadCompañerosDeCursoConUltimaNotaMenorASolici

[2016-07-03 01:40] pliskin12 commented on #59
Listo. Probar en: api/v2/users/:user_id/evaluations/:evaluation_id/compare

[2016-07-03 01:44] #58 closed, assigned to pliskin12

[2016-07-03 01:45] ChrisVilches opened #63 "Agregar cuentas de banco a la poblacion inicial"
Para que funcione la terminal bancaria y se vea correctamente con sus funcionalidades, es necesario que haya una cuenta en la poblacion inicial de la aplicacion.

Esto es por lo que dijo @Angerback en el otro issue:

[code]

[2016-07-04 00:05] Arapuntocom opened #64 "Poblar evaluaciones"
Gente linda, lamento hacer peticiones tan tardíamente, pero no le habíamos tomado importancia a mostrar toooodas las evaluaciones de la plataforma. Hasta el momento, el enlace http://webforge-staging.herokuapp.com/api/v2/evaluations solo entrega 1 evaluación.  Sin embargo, para que el módulo sea operativo, entiendo que es necesario que además sean pobladas las tablas de evaluations, questions, com

[2016-07-04 00:23] PabloSalinasM commented on #64
leída

[2016-07-04 00:24] PabloSalinasM commented on #63
leído,

[2016-07-04 01:22] Arapuntocom commented on #64
Gente linda, ya no es necesario resolver la petición, ya que en la aplicación de Javier tampoco se muestra la 2da evaluación.

[2016-07-04 03:17] pliskin12 commented on #63
En proceso

[2016-07-04 03:25] pliskin12 commented on #63
https://github.com/Angerback/webforge/commit/b0ab6b2cea90f24abc575a6339d9702b5c81052e

[2016-07-04 06:18] #59 closed, assigned to pliskin12

[2016-07-04 06:18] #63 closed, assigned to pliskin12

[2016-07-04 06:19] #64 closed, assigned to pliskin12